<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<div class="justify-content-md-center">
            <div class="col align-self-center">
                <h1>¿How Are You?</h1>
            </div>
            <div class="col align-self-end">
                <p>¿Como Estás?</p>
            </div>
</div>
<div class="justify-content-md-center">
<%= form_for @user, :url => { :controller => "polls", :action => "create" } do |f| %>
  <div class="form-row justify-content-md-center">
    <div class="form-group col-md-4">
      <%= f.label :rut %>
      <%= f.text_field :rut, class: "form-control", placeholder: "12345678-9", maxlength: 10, :required => true %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :nombre, "Nombre Completo" %>
      <%= f.text_field :nombre, placeholder: "Ej: Juan Pérez", class: "form-control", maxlength: 255, size: 30, :required => true %>
    </div>
  </div>
  <br>
  <div class="form-row justify-content-md-center">
      <div class="form-group col-md-3">
        <%= f.label :fnacimiento, "Fecha de Nacimiento" %><br>
        <%= f.date_field :fnacimiento, :id => "fnacimiento", class: "form-control", :required => true%>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :genero, "Género" %><br>
        <%= f.select :genero, [['Hombre', 'Hombre'], ['Mujer', 'Mujer'], ['Otro..', 'Otro']], {}, {:class => "form-control" } %>
      </div>
  </div>
<%= f.fields_for :polls do |ff| %>
  <%= ff.hidden_field :user_id%>
  <div id="custom-radios">
      <%= ff.collection_radio_buttons( :state_id, State.all, :id, :imagen
        ) do |b|
          b.label(:"id" => "label_color_#{b.object.id}") { image_tag(b.object.imagen) + b.radio_button }
        end
      %>
  </div>

  <div id="mensaje_motivo">
    <div id="motivo" class="collapse">
        <%= ff.label :motivo, "Seleccione un motivo" %></br>
        <%= ff.select :motivo, [['Laboral', 'Laboral'], ['Personal', 'Personal'], ['Ambos', 'Ambos']], {}, {:class => "form-control col-4"} %>
    </div>
<% end %>
  <div id="agregar">
    <%= f.submit "Agregar" , class: "btn btn-primary"%>
  </div>
</div>

<% end %>


<!-- The Modal -->

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Ups, tenemos un problema...</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          RUT, ingresado no es correcto..!!
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
</div>
