
<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>

<h1>Semaforo</h1>

<%= form_for @poll do |f| %>
  <p>
    <%= f.label :nombre %>
    <%= f.text_field :nombre, maxlength: 255, size: 30 %>

    <%= f.label :rut %>
    <%= f.text_field :rut, maxlength: 10 %>
  </p>
  <p>
    <%= f.label :genero %>
    <%= f.select :genero, [['Hombre', true], ['Mujer', false]] %>
  </p>
  <div class="custom-radios">
    <%= f.radio_button :estado, '1', :id => "color-1" %>
    <label for="color-1">
      <span>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
      </span>
    </label>
    <%= f.radio_button :estado, '0', :id => "color-2" %>
    <label for="color-2">
      <span>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
      </span>
    </label>
    <%= f.radio_button :estado, '-1', :id => "color-3" %>
    <label for="color-3">
      <span>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
      </span>
    </label>
  </div>
  <div id="motivo">
    <p><%= f.label :motivo %></p>
    <%= f.text_area :motivo, maxlenght: 500 %>
  </div>

  <div id="agregar">
    <%= f.submit "Agregar"%>
  </div>


<%= render 'poll_details', :polls => @polls %>

<% end %>
