<h3>Respuesta usuario : </h3>
Nombre: <%= @user.nombre %>
<br>
RUT: <%= @user.rut %>
<hr>
<table id="feedback_table" class="display responsive no-wrap" >
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Motivo</th>
      <th>Feedback</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <% @user.polls.each do |p| %>
      <tr>
        <td><%= p.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= p.state.nombre %></td>
        <td><%= p.motivo %></td>
        <td><%= p.feedbacks.count %></td>
        <td>
          <%= link_to image_tag('respuesta.png'), new_feedback_path( :id => p.id ), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
