<h1>Feedback</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Rut</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @polls.each do |p| %>
      <tr>
        <td><%= p.rut %></td>
        <td><%= p.nombre %></td>
        <td><%= p.state.nombre %></td>
        <td>
          <%= link_to 'Responder', new_feedback_path( :id => p.id ), :class => 'btn btn-mini' %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ir a graficos', polls_path %>
<br>
<%= link_to 'Ir a formulario', root_path%>
